PORT=5000
MONGO_URI=mongodb+srv://prueba:prueba123@cluster0.dlajr4s.mongodb.net/amanecer-cpm?retryWrites=true&w=majority
JWT_SECRET=soyunsecret0123456789
CLOUDINARY_CLOUD_NAME=dqdwiammx
CLOUDINARY_API_KEY=869924526342596
CLOUDINARY_API_SECRET=YKtjPNyPW_37b42NcwoRxV3Deck
STRIPE_SECRET_KEY=sk_test_temporal_123456789
FRONTEND_URL=http://localhost:5173
